{
  "ansibleNotes": "Go to browser extensions. Go to Vimium options. Load this file via Restore button. Click Save Changes button.",
  "settingsVersion": "{{ settings_version }}",
  "smoothScroll": {{ 'true' if smooth_scroll else 'false' }},
  "scrollStepSize": {{ scroll_step_size }},
  "grabBackFocus": {{ 'true' if grab_back_focus else 'false' }},
  "linkHintCharacters": "{{ link_hint_chars }}",
  "newTabUrl": "{{ vimium_home_page if (vimium_home_page) else 'about:newtab' }}",
  "searchUrl": "{{ vimium_search_providers[0].search_url }}",
  "searchEngines": "{% for provider in vimium_search_providers %}{{ provider.hotkeys }}: {{ provider.search_url }}\n{% endfor %}",
  "keyMappings": "{% for keymap in vimium_keymaps %}map {{ keymap.keypress }} {{ keymap.action }}\n{% endfor %}"
}

