{
  "ansibleNotes": "Go to browser extensions. Go to Vimium options. Load this file via Restore button. Click Save Changes button.",
  "settingsVersion": "1.66",
  "smoothScroll": true,
  "scrollStepSize": 60,
  "grabBackFocus": true,
  "linkHintCharacters": "asdfghjkl",
  "newTabUrl": "{{ vimium_home_page if (vimium_home_page) else 'about:newtab' }}",
  "searchUrl": "{{ vimium_search_providers[0].search_url }}",
  "searchEngines": "{% for provider in vimium_search_providers %}{{ provider.hotkeys }}: {{ provider.search_url }}\n{% endfor %}",
  "keyMappings": "{% for keymap in vimium_keymaps %}map {{ keymap.keypress }} {{ keymap.action }}\n{% endfor %}"
}

